*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-height:100vh;
   max-width: 100vw;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    margin: 10vh 25vw;/*used view port units only*/

}
.image{
   max-width: 50vw;
   height: 45vh;
   display: block;
}
.interact{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:0.1em black solid;
    border-top: none;
    margin:0;
    display: block;
    width: 50vw;
    height:10vh;
align-content: center;
background:linear-gradient(240deg, rgb(6, 198, 6), rgba(231, 235, 6, 0.8), rgb(228, 75, 10));
color: blue;
font-weight: bold;
font-size: 2rem;
cursor: pointer;
}
.interact:hover{
opacity:0.7;
}